<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Admin</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<div>
	<ul class="nav nav-pills">
	  <li role="presentation"><a href="/">Home</a></li>
	  <li role="presentation"><a href="about">About</a></li>
	  <li role="presentation"><a href="contact">Contact Us</a></li>
	  <li role="presentation" class="active"><a href="#">Admin</a></li>
	</ul>
</div>

<div>
	<h1> ATENEO RESIDENCE HALLS </h1>
	<h2> RESERVATION SYSTEM </h2>
	<h4> ADMINISTRATOR LOG IN </h4>
</div>

<div>
	<div> LOG IN TO YOUR ACCOUNT </div>
	<div>
		<form>
		  <div class="form-group">
		    <label for="adminUsername">Username</label>
		    <input type="text" class="form-control" id="adminUsername" placeholder="Enter Username">
		  </div>
		  <div class="form-group">
		    <label for="adminPassword">Password</label>
		    <input type="password" class="form-control" id="adminPassword" placeholder="Password">
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
	<div> New User? Register </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8">
  	<p>
			ATENEO DE MANILA UNIVERSITY. ALL RIGHTS RESERVED.
			<br>
			Katipunan Avenue Loyola Heights, Quezon City 1108, Philippines
			<br>
			426-6001 loc.5901-04 | ateneo.edu/univdorm
		</p>
  </div>
  <div class="col-xs-6 col-md-4">
  	<p>Powered by</p>
  </div>
</div>