<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Ateneo Residence Halls Reservation System</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" type="text/css" href="home.css">
	<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700|Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster+Two|Open+Sans:700,400' rel='stylesheet' type='text/css'>
</head>

<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
	<ul class="nav navbar-nav">
	  <li role="presentation" class="active"><a href="#">Home</a></li>
	  <li role="presentation"><a href="about">About</a></li>
	  <li role="presentation"><a href="contact">Contact Us</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  	<li id="right" role="presentation"><a href="admin">Admin</a></li>
	</ul>
  </div>
</nav>

<div id="bod" class = "container-fluid">
	
	<div class="row" id="title">
		<h1> ATENEO RESIDENCE HALLS </h1>
		<h3> RESERVATION SYSTEM </h3>
	</div>
	
	<div class = "row" id="centerpiece">
		<div id="imgcont" class = "col-md-5">
			<img src="./images/dorm.jpg" class="img-responsive" alt="dorm pic"> </img>
		</div>
		<div class = "col-md-5">
			SITE ANNOUNCEMENTS
			<br />
			LOREM IPSUM
			<br />
			<br />
			LOREM IPSUM
			<br />
			Duis aute irure Duis aute irureDuis aute irureDuis aute irureDuis aute irure
			</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="row">
			<div class = "col-xs-1">
			</div>
			<div id="sectleft" class = "col-xs-5">
				<h4>FACILITIES</h4>
			</div>

			<div id="sectright" class = "col-xs-5">
				<h4>READMISSION</h4>
			</div>
			<div class = "col-xs-1">
			</div>
		</div>
		<div class = "col-xs-1">
		</div>
		<div class = "col-xs-10">	
			<div class = "col-xs-3">
					<div id="sideimg" class = "col-xs-5">
						<img id="sdimg" src = "./images/Teaser1.png" class="img-responsive" alt = "sdimg">
					</div>
					<div id="reserve" class = "col-xs-7">
						<p>a</p>
					</div>
			</div>
			<div class = "col-xs-3">
					<div id="sideimg" class = "col-xs-5">
						<img id="sdimg" src = "./images/Teaser1.png" class="img-responsive" alt = "sdimg">
					</div>
					<div id="view" class = "col-xs-7">
						<p>a</p>
					</div>
			</div>
			<div class = "col-xs-3">
					<div id="sideimg" class = "col-xs-5">
						<img id="sdimg" src = "./images/Teaser1.png" class="img-responsive" alt = "sdimg">
					</div>
					<div id="reserve" class = "col-xs-7">
						<p>a</p>
					</div>
			</div>
			<div class = "col-xs-3">
					<div id="sideimg" class = "col-xs-5">
						<img id="sdimg" src = "./images/Teaser1.png" class="img-responsive" alt = "sdimg">
					</div>
					<div id="view" class = "col-xs-7">
						<p>a</p>
					</div>
			</div>
		</div>
		<div class = "col-xs-1">
		</div>
	</div>
</div>

<!--<div id="err" class="container-fluid">
	<div class = "col-xs-1">
	</div>
	<div class = "col-xs-5">
			<h5>FACILITIES</h5>
			<div id = "facility" class = "col-xs-5">
				<p>qfjhds</p>
			</div>
			<div id = "view" class = "col-xs-5">
				<p>qfjhds</p>
			</div>
	</div>
	<div class = "col-xs-5">
			<h5>FACILITIES</h5>
			<div id = "readmission" class = "col-xs-5">
				<p>qfjhds</p>
			</div>
			<div id = "view" class = "col-xs-5">
				<p>qfjhds</p>
			</div>
	</div>
	<div class = "col-xs-1">
	</div>
</div>-->


<div class = "row">
			<div class = "col-md-6">
				<h4>FACILITIES</h4>
				<div class = "row">
					<div id="reserve" class = "col-md-5">
						<div class = "col-md-4">
							<img src = "./images/dorm.jpg" class="img-responsive" alt = "yolo">
						</div>
						<div class = "col-md-8">
							Reservations
							<br />
							<a class="btn btn-default" href="#" role="button"> RESERVE FACILITY </a>
							<br />
							<a class="btn btn-default" href="#" role="button"> RESERVE EQUIPMENT </a>
						</div>
					</div>
					<div id="view" class = "col-md-5">
						<div class = "col-md-4">
							<img src = "./images/dorm.jpg" class="img-responsive" alt = "yolo">
						</div>
						<div class = "col-md-8">
							View <br> Gallery
							<br />
							<a class="btn btn-default" href="#" role="button"> RESERVE FACILITY </a>
							<br />
							<a class="btn btn-default" href="#" role="button"> RESERVE EQUIPMENT </a>
						</div>
					</div>
				</div>
			</div>
			<div class = "col-md-6">
				<h4>READMISSION</h4>
				<div class = "row">
					<div id="reserve" class = "col-md-5">
						<div class = "col-md-4">
							<img src = "./images/dorm.jpg" class="img-responsive" alt = "yolo">
						</div>
						<div  class = "col-md-8">
							Reservations
							<br />
							<a class="btn btn-default" href="#" role="button"> RESERVE FACILITY </a>
							<br />
							<a class="btn btn-default" href="#" role="button"> RESERVE EQUIPMENT </a>
						</div>
					</div>
					<div id="view" class = "col-md-5">
						<div class = "col-md-4">
							<img src = "./images/dorm.jpg" class="img-responsive" alt = "yolo">
						</div>
						<div class = "col-md-8">
							Reservations
							<br />
							<a class="btn btn-default" href="#" role="button"> RESERVE FACILITY </a>
							<br />
							<a class="btn btn-default" href="#" role="button"> RESERVE EQUIPMENT </a>
								<%= link_to "Reservations", reservations_path %>
								<%= link_to "New Reservation", new_reservation_path %>
						</div>
					</div>
				</div>
			</div>
		</div>
	

<footer class="navbar navbar-fixed-bottom">
	<div class="row">
	  	<div class="col-md-8">
	  	<p>
			ATENEO DE MANILA UNIVERSITY. ALL RIGHTS RESERVED.
			<br>
			Katipunan Avenue Loyola Heights, Quezon City 1108, Philippines
			<br>
			426-6001 loc.5901-04 | ateneo.edu/univdorm
		</p>
		</div>
		<div class="col-md-1 col-md-offset-2">
		  	<p id="power">Powered by</p>
		  	<img id="wols" src = "./images/wols.png" class="img-responsive" alt = "wols">
		</div>
	</div>
</footer>
