<!DOCTYPE html>
<html>
	<head>
    	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
	    <h1>Thank you for your application, <%= @reservation.first_name %></h1>
    	<p>
      		Please wait for the results of your application. Thank you!<br>
    	</p>
  	</body>
</html>