#centerpiece{
	background-color: #ffffff;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 5px;
}

#imgcont.col-xs-6{
	padding-left: 0px;
	padding-right: 0px;
	border-right-style: solid;
	border-right-width: 15px;
	border-color: #48cfad;

}

#drmimg{
	height:225px;

}

#sectleft{
	text-align: center;
	border-left-width: 80px;
}

#sectright{
	text-align: center;
	border-right-width: 60px;
}

.col-xs-10{
	padding-left: 45px;
	padding-right: 45px;
}

.col-xs-3{
	padding-left: 5px;
	padding-right: 5px;
	height: 150px;
}

.col-xs-7{
	color: #ffffff;
	/*margin-left: 25px;*/
	height: 150px;
}

#reserve{
	background-color: #e75735;
}

#view{
	background-color: #48cfad; 
}

#sideimg {
	color: #ffffff;
	padding-left: 0px;
	padding-right: 0px;

}

#sdimg{
	height: 150px;
}

.btn-xs{
	margin-top: 8px;
	width: 100%;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	border-color: #ffffff;
	background-color: #e75735;
	text-shadow: none;
}

#reserve .btn-default:hover{
	color: #ffffff;
	background-color: rgba(255, 255, 255, .25);
	/*text-shadow: 0 0 2px;*/
	border-color: #ffffff;
	filter: alpha(opacity=100);
background-image: none;
}



#rr{
	/*text-align: center;*/
	font-weight: 500;
	font-size: 18px;
	margin-top: 25px;
}

#bxtxt {
	margin-top: -8px;
	font-size: 10px;
	margin-bottom: 5px;
}

#boxes{
	margin-top: 10px;
}

#view.col-xs-7:hover{
	opacity: 0.70;
	filter: alpha(opacity=100);
	font-style: italic;
}

#sah{
	color: #ffffff;
	font-weight: 500;
	background-color: #48cfad;
	padding-top: 1px;
	margin-top: 1px;
}

#rtsd{
	padding-left: 0px;
}

#psa{
	margin-top: 10px;
	padding-left: 15px;
}

#rdmr{
	font-style: italic;
	font-size: 12px;
	color: #e75735;
}

#san{
	font-family: 'Montserrat', sans-serif;
	padding-left: 15px;
	font-size: 20px;
	margin-top: 18px;
}